In [1]:
import tushare as ts
import pandas as pd
import numpy as np

In [2]:
api='7f3dda5fe2c762a77fdc4ff58496205e0aac3ced9eab0f6333b80dcd'#调用api获取股票数据
type_stock='000063.SZ'#股票代码
start_date='20230101'#开始日期
end_date='20231231'#结束日期
pro = ts.pro_api(api)
stock= pro.daily(ts_code=type_stock,start_date=start_date,end_date=end_date)
stock['trade_date']=pd.to_datetime(stock['trade_date'])
df1=stock.set_index('trade_date')
df1=df1.sort_index()
df1.rename(columns={'vol':'volume'},inplace=True)
df1

,ts_code,open,high,low,close,pre_close,change,pct_chg,volume,amount
trade_date,,,,,,,,,,
2023-01-03,000063.SZ,25.88,26.18,25.48,25.93,25.86,0.07,0.2707,227325.83,589696.754
2023-01-04,000063.SZ,26.06,26.72,25.96,26.44,25.93,0.51,1.9668,328138.72,868348.242
2023-01-05,000063.SZ,26.42,26.71,26.22,26.44,26.44,0.00,0.0000,237418.83,629370.048
2023-01-06,000063.SZ,26.44,26.49,25.97,26.00,26.44,-0.44,-1.6641,195635.37,512022.379
2023-01-09,000063.SZ,25.94,26.18,25.50,25.64,26.00,-0.36,-1.3846,263791.00,677835.511
...,...,...,...,...,...,...,...,...,...,...
2023-10-24,000063.SZ,27.99,28.09,25.57,26.19,27.98,-1.79,-6.3974,1877177.07,4934073.050
2023-10-25,000063.SZ,26.75,26.75,25.69,25.90,26.19,-0.29,-1.1073,1219896.37,3181039.925
2023-10-26,000063.SZ,25.55,25.74,24.90,25.66,25.90,-0.24,-0.9266,1183048.98,2992105.828
2023-10-27,000063.SZ,25.40,26.30,25.15,26.06,25.66,0.40,1.5588,1352142.87,3483853.051
2023-10-30,000063.SZ,25.82,27.12,25.56,26.62,26.06,0.56,2.1489,1355141.60,3572506.454

In [3]:
#df1.to_excel(r'C:\Users\ls\Desktop\000066.xlsx')